.container {
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
  box-sizing: border-box;
}


.cartTitle {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #565756;
  padding-left: 0.5rem;
  border-left: 8px solid #ffc823;
  border-radius: 50px;
  display: inline-block;
}

.buyBtn,
.removeBtn,
.clearBtn {
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.buyBtn:hover,
.removeBtn:hover,
.clearBtn:hover {
  transform: scale(1.05);
}

.itemsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  width: 1130px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1.5px solid transparent;
  border-radius: 8px;
  background-color: #fdfdfd;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.251);
  transition: transform 0.3s ease, border 0.3s ease;
  padding-right: 20px;
    background-color: #fff8f2;

}

.card:hover {
  transform: scale(1.02);
  border: 1.5px solid #ffbf00;
  padding-left: 15px;
  
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1rem;
  bottom: 1rem;
  width: 4px;
  background-color: #ffbf00;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover::before {
  opacity: 1;
}

.image {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  object-fit: cover;
}

.details {
  flex: 1;
  margin-left: 2rem;
}

.name {
  font-size: 1.6rem; 
  margin: 0;
  font-weight: 600;
  color: #616161e4;
  letter-spacing: 0.1rem;
  padding-bottom: 10px;
}
.price {
  font-size: 1.1rem;
  color: #ffc823;
  font-weight: 600;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  margin-left: 1rem;
}

.buyBtn {
  padding: 8px 12px;
  background-color: #598350;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.removeBtn {
  padding: 8px 12px;
  background-color: transparent;
  color: rgb(249, 86, 42);
  border: 1px solid rgb(249, 86, 42);
  border-radius: 5px;
  cursor: pointer;
}



.clearAll {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.clearBtn {
  font-size: 13px;
  background-color: rgb(232, 97, 69);
  color: rgb(255, 255, 255);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.6s;
}


.emptyMessage {
  font-size: 1rem;
  color: #666;
}
