:global(.swiper-pagination-progressbar) {
  background: #ddd;
  height: 4px;
  top: 0;
}

:global(.swiper-pagination-progressbar-fill) {
  background: rgb(201, 201, 201);
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
  color: rgb(255, 230, 0);
}

